*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#ff4d6d,#ffb3c6);
height:100vh;
overflow:hidden;
}

.page{
position:absolute;
width:100%;
height:100%;
display:none;
justify-content:center;
align-items:center;
}

.page.active{
display:flex;
}

.card{
background:white;
padding:25px;
border-radius:20px;
width:90%;
max-width:380px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1,h2{
color:#ff2f68;
margin-bottom:15px;
}

.buttons{
display:flex;
justify-content:center;
gap:20px;
}

button{
border:none;
padding:10px 25px;
border-radius:25px;
background:#ff2f68;
color:white;
font-size:14px;
cursor:pointer;
}

.poem-card p{
font-size:14px;
line-height:1.5;
color:#444;
}

.memory{
background:white;
padding:15px;
border-radius:20px;
width:90%;
max-width:380px;
text-align:center;
}

.memory img{
width:100%;
border-radius:15px;
margin:8px 0;
}

.memory p{
color:#ff2f68;
font-size:13px;
}

iframe{
width:100%;
height:200px;
border-radius:15px;
border:none;
}

.nav{
margin-top:10px;
display:flex;
justify-content:space-between;
}
