*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(#ff4d6d,#fff);
overflow:hidden;
}

.page{
display:none;
height:100vh;
align-items:center;
justify-content:center;
}

.page.active{display:flex;}

.card{
background:white;
width:90%;
max-width:420px;
height:90vh;
padding:20px;
border-radius:25px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.2);
display:flex;
flex-direction:column;
justify-content:space-between;
}

h1,h2{color:#ff4d6d;}

.btns button,.nav button{
padding:10px 20px;
border:none;
border-radius:30px;
font-size:15px;
cursor:pointer;
}

.yes{background:#ff4d6d;color:white;}
.no{background:#ccc;}

.poem{
font-size:14px;
line-height:1.5;
color:#444;
}

.memory{
padding:15px;
}

.grid{
flex:1;
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
align-items:center;
}

.box{
border:3px solid #ff4d6d;
border-radius:12px;
padding:5px;
display:flex;
align-items:center;
justify-content:center;
}

.box img{
width:100%;
max-height:100px;
object-fit:cover;
border-radius:8px;
}

.msg{
color:#ff4d6d;
font-size:12px;
font-weight:600;
}

.video iframe{
width:100%;
height:200px;
border:none;
border-radius:15px;
}

/* hearts */
.heart{
position:fixed;
top:-10px;
font-size:18px;
animation:fall linear forwards;
pointer-events:none;
}

@keyframes fall{
to{transform:translateY(110vh);opacity:0;}
}

@media(max-width:480px){
.grid{grid-template-columns:1fr;}
.box img{max-height:90px;}
}
