*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#ff4d6d,#ffb3c6);
height:100vh;
overflow:hidden;
}

.page{
position:absolute;
width:100%;
height:100%;
display:none;
justify-content:center;
align-items:center;
}

.page.active{
display:flex;
}

.card{
background:white;
padding:20px;
border-radius:20px;
width:90%;
max-width:360px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

h1,h2{
color:#ff2f68;
margin-bottom:10px;
}

.buttons{
display:flex;
gap:20px;
justify-content:center;
}

button{
background:#ff2f68;
border:none;
color:white;
padding:10px 20px;
border-radius:25px;
font-size:14px;
cursor:pointer;
}

.poem{
font-size:13px;
color:#444;
line-height:1.4;
}

.memory img{
width:100%;
max-height:140px;
object-fit:cover;
border-radius:12px;
margin-top:8px;
}

.memory p{
font-size:12px;
color:#ff2f68;
margin-top:5px;
}

iframe{
width:100%;
height:180px;
border-radius:15px;
border:none;
margin-top:10px;
}

.nav{
margin-top:10px;
display:flex;
justify-content:space-between;
}
